* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* align-items: stretch; */
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    gap: 0px;
}

.bighead {
    background-color: #1F2937;
    color: white;
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
    width: 70vw;
}

.logo {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 24px;
}

.he1 {
    color: #F9FAF8;
    font-size: 64px;
    font-weight: 1000px;
}

.he2 {
    font-size: 18px;
    color: #E5E7EB;
}

.hetext {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.he3 {
    height: 68px;
    width: 188px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 22px;
    border-radius: 8px;
    border: #3882F6 1px solid;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 76px 0px;
    width: 70vw;
    gap: 36px;
}

.hero img{
    height: 400px;
    width: 800px;
    border-radius: 24px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-content: center;
    gap: 36px;
    align-items: center;
    padding: 38px;
}

.chead {
    font-size: 48px;
    color: #1F2937;
    font-weight: 900;
}

.faces {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 160px;
}

.card {
    display: flex;
    justify-content: center;
    gap: 26px;
    flex-direction: column;
    align-items: center;
}

.card img {
    height: 200px;
    width: 200px;
    border: #3882F6 4px solid;
    border-radius: 8px;
}

.card .text {
    width: 200px;
    color: #444444;
    font-size: 24px;
}

.qcont {
    width: 100vw;
    gap: 8px;
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    font-size: 48px;
    font-style: italic;
    color: #1F2937;
    width: 70vw;
    font-weight: 100;
}

.allama {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: bold;
    color: #1F2937;
    width: 70vw;
}

.mc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.modal {
    background-color: #3882F6;
    border: #3882F6 1px solid;
    border-radius: 8px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    padding: 48px 0px;
}

.mcont {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.text .t1{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 36px;
}

.text .t2{
    font-size: 24px;
    color: #E5E7EB;
}

.mcont button{
    height: 48px;
    width: 166px;
    color: #F9FAF8;
    font-size: 18px;
    border: #F9FAF8 4px solid;
    border-radius: 8px;
    align-self: center;
    background-color: #3882F6;
}

.footer{
    background-color: #1F2937;
    color: white;
    display: flex;  ;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: #F9FAF8;
    font-size: 24px;
    padding: 36px 0px;
}